tjukica_aplikacija_4-web/src/wsdl/localhost_8084/tjukica_aplikacija_2-web/App2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.tjukica.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.tjukica.nwtis.foi.org/" name="App2">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.tjukica.nwtis.foi.org/" schemaLocation="http://localhost:8084/tjukica_aplikacija_2-web/App2?xsd=1"/>
</xsd:schema>
</types>
<message name="dajVlastiteAerodrome">
<part name="parameters" element="tns:dajVlastiteAerodrome"/>
</message>
<message name="dajVlastiteAerodromeResponse">
<part name="parameters" element="tns:dajVlastiteAerodromeResponse"/>
</message>
<message name="dajVlastitePoUdaljenosti">
<part name="parameters" element="tns:dajVlastitePoUdaljenosti"/>
</message>
<message name="dajVlastitePoUdaljenostiResponse">
<part name="parameters" element="tns:dajVlastitePoUdaljenostiResponse"/>
</message>
<message name="dajUdaljenost">
<part name="parameters" element="tns:dajUdaljenost"/>
</message>
<message name="dajUdaljenostResponse">
<part name="parameters" element="tns:dajUdaljenostResponse"/>
</message>
<message name="dajLetovePoAerodromu">
<part name="parameters" element="tns:dajLetovePoAerodromu"/>
</message>
<message name="dajLetovePoAerodromuResponse">
<part name="parameters" element="tns:dajLetovePoAerodromuResponse"/>
</message>
<message name="dajLetovePoAvionu">
<part name="parameters" element="tns:dajLetovePoAvionu"/>
</message>
<message name="dajLetovePoAvionuResponse">
<part name="parameters" element="tns:dajLetovePoAvionuResponse"/>
</message>
<message name="dajAerodromePoDrzavi">
<part name="parameters" element="tns:dajAerodromePoDrzavi"/>
</message>
<message name="dajAerodromePoDrzaviResponse">
<part name="parameters" element="tns:dajAerodromePoDrzaviResponse"/>
</message>
<message name="dajAerodromePoNazivu">
<part name="parameters" element="tns:dajAerodromePoNazivu"/>
</message>
<message name="dajAerodromePoNazivuResponse">
<part name="parameters" element="tns:dajAerodromePoNazivuResponse"/>
</message>
<portType name="App2">
<operation name="dajVlastiteAerodrome">
<input wsam:Action="http://serveri.ws.tjukica.nwtis.foi.org/App2/dajVlastiteAerodromeRequest" message="tns:dajVlastiteAerodrome"/>
<output wsam:Action="http://serveri.ws.tjukica.nwtis.foi.org/App2/dajVlastiteAerodromeResponse" message="tns:dajVlastiteAerodromeResponse"/>
</operation>
<operation name="dajVlastitePoUdaljenosti">
<input wsam:Action="http://serveri.ws.tjukica.nwtis.foi.org/App2/dajVlastitePoUdaljenostiRequest" message="tns:dajVlastitePoUdaljenosti"/>
<output wsam:Action="http://serveri.ws.tjukica.nwtis.foi.org/App2/dajVlastitePoUdaljenostiResponse" message="tns:dajVlastitePoUdaljenostiResponse"/>
</operation>
<operation name="dajUdaljenost">
<input wsam:Action="http://serveri.ws.tjukica.nwtis.foi.org/App2/dajUdaljenostRequest" message="tns:dajUdaljenost"/>
<output wsam:Action="http://serveri.ws.tjukica.nwtis.foi.org/App2/dajUdaljenostResponse" message="tns:dajUdaljenostResponse"/>
</operation>
<operation name="dajLetovePoAerodromu">
<input wsam:Action="http://serveri.ws.tjukica.nwtis.foi.org/App2/dajLetovePoAerodromuRequest" message="tns:dajLetovePoAerodromu"/>
<output wsam:Action="http://serveri.ws.tjukica.nwtis.foi.org/App2/dajLetovePoAerodromuResponse" message="tns:dajLetovePoAerodromuResponse"/>
</operation>
<operation name="dajLetovePoAvionu">
<input wsam:Action="http://serveri.ws.tjukica.nwtis.foi.org/App2/dajLetovePoAvionuRequest" message="tns:dajLetovePoAvionu"/>
<output wsam:Action="http://serveri.ws.tjukica.nwtis.foi.org/App2/dajLetovePoAvionuResponse" message="tns:dajLetovePoAvionuResponse"/>
</operation>
<operation name="dajAerodromePoDrzavi">
<input wsam:Action="http://serveri.ws.tjukica.nwtis.foi.org/App2/dajAerodromePoDrzaviRequest" message="tns:dajAerodromePoDrzavi"/>
<output wsam:Action="http://serveri.ws.tjukica.nwtis.foi.org/App2/dajAerodromePoDrzaviResponse" message="tns:dajAerodromePoDrzaviResponse"/>
</operation>
<operation name="dajAerodromePoNazivu">
<input wsam:Action="http://serveri.ws.tjukica.nwtis.foi.org/App2/dajAerodromePoNazivuRequest" message="tns:dajAerodromePoNazivu"/>
<output wsam:Action="http://serveri.ws.tjukica.nwtis.foi.org/App2/dajAerodromePoNazivuResponse" message="tns:dajAerodromePoNazivuResponse"/>
</operation>
</portType>
<binding name="App2PortBinding" type="tns:App2">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajVlastiteAerodrome">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajVlastitePoUdaljenosti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajUdaljenost">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajLetovePoAerodromu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajLetovePoAvionu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromePoDrzavi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromePoNazivu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="App2">
<port name="App2Port" binding="tns:App2PortBinding">
<soap:address location="http://localhost:8084/tjukica_aplikacija_2-web/App2"/>
</port>
</service>
</definitions>