tjukica_aplikacija_4-web/src/wsdl/localhost_8084/tjukica_aplikacija_2-web/App2.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://serveri.ws.tjukica.nwtis.foi.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://serveri.ws.tjukica.nwtis.foi.org/">

<xs:element name="dajAerodromePoDrzavi" type="tns:dajAerodromePoDrzavi"/>

<xs:element name="dajAerodromePoDrzaviResponse" type="tns:dajAerodromePoDrzaviResponse"/>

<xs:element name="dajAerodromePoNazivu" type="tns:dajAerodromePoNazivu"/>

<xs:element name="dajAerodromePoNazivuResponse" type="tns:dajAerodromePoNazivuResponse"/>

<xs:element name="dajLetovePoAerodromu" type="tns:dajLetovePoAerodromu"/>

<xs:element name="dajLetovePoAerodromuResponse" type="tns:dajLetovePoAerodromuResponse"/>

<xs:element name="dajLetovePoAvionu" type="tns:dajLetovePoAvionu"/>

<xs:element name="dajLetovePoAvionuResponse" type="tns:dajLetovePoAvionuResponse"/>

<xs:element name="dajUdaljenost" type="tns:dajUdaljenost"/>

<xs:element name="dajUdaljenostResponse" type="tns:dajUdaljenostResponse"/>

<xs:element name="dajVlastiteAerodrome" type="tns:dajVlastiteAerodrome"/>

<xs:element name="dajVlastiteAerodromeResponse" type="tns:dajVlastiteAerodromeResponse"/>

<xs:element name="dajVlastitePoUdaljenosti" type="tns:dajVlastitePoUdaljenosti"/>

<xs:element name="dajVlastitePoUdaljenostiResponse" type="tns:dajVlastitePoUdaljenostiResponse"/>

<xs:complexType name="dajVlastitePoUdaljenosti">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
<xs:element name="odUdaljenost" type="xs:int"/>
<xs:element name="doUdaljenost" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajVlastitePoUdaljenostiResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aerodrom">
<xs:sequence>
<xs:element name="drzava" type="xs:string" minOccurs="0"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
<xs:element name="lokacija" type="tns:lokacija" minOccurs="0"/>
<xs:element name="naziv" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lokacija">
<xs:sequence>
<xs:element name="latitude" type="xs:string" minOccurs="0"/>
<xs:element name="longitude" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromePoDrzavi">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="drzava" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromePoDrzaviResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajVlastiteAerodrome">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajVlastiteAerodromeResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromePoNazivu">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="naziv" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromePoNazivuResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajLetovePoAvionu">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
<xs:element name="odVrijeme" type="xs:int"/>
<xs:element name="doVrijeme" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajLetovePoAvionuResponse">
<xs:sequence>
<xs:element name="return" type="tns:avionLeti" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="avionLeti">
<xs:sequence>
<xs:element name="arrivalAirportCandidatesCount" type="xs:int"/>
<xs:element name="callsign" type="xs:string" minOccurs="0"/>
<xs:element name="departureAirportCandidatesCount" type="xs:int"/>
<xs:element name="estArrivalAirport" type="xs:string" minOccurs="0"/>
<xs:element name="estArrivalAirportHorizDistance" type="xs:int"/>
<xs:element name="estArrivalAirportVertDistance" type="xs:int"/>
<xs:element name="estDepartureAirport" type="xs:string" minOccurs="0"/>
<xs:element name="estDepartureAirportHorizDistance" type="xs:int"/>
<xs:element name="estDepartureAirportVertDistance" type="xs:int"/>
<xs:element name="firstSeen" type="xs:int"/>
<xs:element name="icao24" type="xs:string" minOccurs="0"/>
<xs:element name="lastSeen" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajUdaljenost">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icao1" type="xs:string" minOccurs="0"/>
<xs:element name="icao2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajUdaljenostResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajLetovePoAerodromu">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
<xs:element name="odVrijeme" type="xs:int"/>
<xs:element name="doVrijeme" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajLetovePoAerodromuResponse">
<xs:sequence>
<xs:element name="return" type="tns:avionLeti" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>